.book {}

.book .book-card {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  border-radius: 10px;
}

.book .illustration {
  display: flex;
  justify-content: center;
}

.book .book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book  {
  .book-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
  }
}
